<!DOCTYPE html>
<html>
  <head>
    <title>New Sails App</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/icon.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/materialize.min.css">
    <!--STYLES END-->
  </head>

  <body>

    <header class="container">
      Header
    </header>

    <div class="container">
      <div class="row">
        <div class="col s12 m9">
            <%- body %>
        </div>
        <div class="col s12 m3">
          Sidebar
        </div>
      </div>
    </div>

    <footer class="container">
      Footer
    </footer>

    <!--SCRIPTS-->
    <script src="/dependencies/sails.io.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/materialize.min.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
