<div class="container">
    <div class="row">
        <div class="col-12">

            <a href="/admin/category">Categories</a>
            <a href="/admin/post">Posts</a>
            <a href="/admin/user">Users</a>

        </div>
    </div>
</div>